.Qr-card {
  box-shadow: 0px 25px 25px 0 rgba(16, 15, 15, 0.05);
}

Focus styles :focus {
  outline: 3px solid #4d90fe;
}

@media screen and (max-width: 375px) {
  body {
    /* Slightly smaller font size for very small screens */
    font-size: 15px;
  }
}
